body{
    background-color: rgb(255, 255, 255);
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
table{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
   border: none;
}
th{
    background-color: rgb(175, 174, 172);

}
.tambah{
    
    padding: 10px;
    background-color:rgb(83, 83, 83) ;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
.tekstambah{
color: aliceblue;
}
a{
    text-decoration: none;
}